<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>civeng190project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5CDD3FA2DA216CD00C76AD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5CDD4072DA216D100C76AD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5CDD4112DA216D100C76AD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
